.player1 {
    text-align: left;

}

.player2 {
    text-align: right;
    transform: translateY(-59px);
}

.hp1 {
    text-align: left;
    transform: translateY(-53px);
}

.hp2 {
    text-align: right;
    transform: translateY(-100px);
}

.submit {
    text-align: center;
}