.characters1 {
    transform: translateX(100px);
}

.player2 {
    transform: translate(1240px, -180px);
}

.characters2 {
    text-align: right;
}

.character1 {
    transform: translate(1250px, -180px);
}

.match {
    transform: translate(550px, -300px);
}