.player1{
    text-align: left;
    float: left;
    width: 40vw;
    /* transform: translateY(-265px); */
}

.player2{
    text-align: right;
    float: right;
    width: 40vw;
    /* transform: translateY(-265px); */
}

.characters2{
    text-align: right;
    /* transform: translateY(-265px); */
}

.match{
    text-align: center;
}

.front_p1{
    transform: translateX(100px);
}

.front_p2{
    transform: translateX(-100px);
}

.deck{
    float: inline-end;
    transform: translateX( -340px);
    width: 100px;
    height: 105px;
}

.graveyard{
    /* float: inline-end; */
    transform: translate( 500px, -130px);
}

.dontbrake{
    float: left;
}